<div class="container">
  <div class="row">
    <div class="col-12">
      <%= @store.store_name %>
      <%= @store.introduction %>
      <%= @store.email %>
      <%= form_with model: @store, url: edit_admin_store_path do |f| %>
        <%= f.radio_button :approval, false %><%= f.label :approval, "無効" %>
        <%= f.radio_button :approval, true %><%= f.label :approval, "有効" %>
      <% end %>
    </div>
  </div>
</div>
