<div class="btn btn-outline-info">
  <%= link_to "admin sign_in", new_admin_session_path %>
</div>
<div class="btn btn-outline-info">
  <%= link_to "store sign_in", new_store_session_path %>
</div>
<div class="btn btn-outline-info">
  <%= link_to "user sign_in", new_user_session_path %>
</div>

<div class="btn btn-outline-danger">
  <%= link_to "store sign_in", new_store_registration_path %>
</div>
<div class="btn btn-outline-danger">
  <%= link_to "user sign_in", new_user_registration_path %>
</div>